.image-list {
  display: flex;
  margin: 20px 0;
}

.image-list__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  gap: 20px
}

.image-list__icon {
  font-size: 100px;
}

.best-image{

}